<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestaurantPlot</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>飲食店座標投稿サービス</h1>
    <h2>RestaurantPlot</h2>
    <h4>地図上に飲食店の座標と、コメントを登録し、みんなで共有するサイトです。</h4>

    <h4>Googleアカウントで</h4>
    <a href="/login">
        <h2>いますぐ始める</h2>
    </a>
</body>

</html>